/*
Style Name: Squeezit Site
Description: Fip file
Author: Abram Kouwen
Version: 1.0
Tags: 
*/

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* -------------
  Fonts
-------------- */


/* ------------ */

/* -------------
  Plugins
-------------*/

/* -------------
  Reset
-------------*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	color: #fff;
	font-family: 'Montserrat';
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

input, textarea {
	display: block;
	margin: 0;
	padding: 0;
}

/* ___________________________________________

       CSS Guide
___________________________________________ */

/* 01. General Styles                        
   02. CSS Grid                          
/* _____________________________________

   01. General Styles
   _____________________________________ */

   .hidden {
       display: none;
   }

   .box-model {
	   margin: 1rem;
	   padding: 1rem;
	   background: #000;
	   text-align: center;
   }

   .box-model-clear {
	   margin: 1rem;
	   padding: 1rem;
   }

   /*------- Floats --------*/

   .f-left {
	   float: left;
   }

   .f-right {
	   float: right;
   }

   /*------- End Floats --------*/
   /*------- Font Awesome -------*/

   /*------- End Font Awesome -------*/

   /*------- Mobile Padding ---------*/

   .mobile-padding {
	   padding: 0 1em;
   }

   /*------- End Mobile Padding ---------*/

   @supports (grid-area: auto) {

	/*------------ Start Mobile ------------*/

	.site {
		max-width: 699px;
	}

	/*------------ Mobile Grid Items ------------*/

	.head, .main > *, .foot {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.one-item {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}

	.two-items {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.three-items {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-evenly;
		row-gap: 2em;
		column-gap: 2em;
	}

	.custom-override {
		display: grid;
		grid-column: 1 / span 2;
		grid-template-columns: 1fr;
	}

    .mobile-hidden{
   		display: none;
   	}

	/*------------ Mobile Menu Start ------------*/

	.full { 
		display: none;
	}

	.mobile {
		display: grid;
		grid-column: 2 / span 1;
	}

    .logo{
	   margin: 10px;
	   width: 150%;
    }

	/*------------ b. start mobile nav overlay/menu ------------*/

	@keyframes bugfix {
		from {
		  padding: 0;
		}
		to {
		  padding: 0;
		}
	  }
	  @-webkit-keyframes bugfix {
		from {
		  padding: 0;
		}
		to {
		  padding: 0;
		}
	  }
	  #overlay-menu {
		position: absolute;
		right: 1em;
		padding: 30px 11px;
		z-index: 5;
		cursor: pointer;
		user-select: none;
	  }
	  #overlay-menu span {
		height: 4px;
		width: 40px;
		border-radius: 2px;
		background-color: #8FBDDF;
		position: relative;
		display: block;
		transition: all 0.2s ease-in-out;
	  }
	  #overlay-menu span:before {
		top: -8px;
		visibility: visible;
	  }
	  #overlay-menu span:after {
		top: 8px;
	  }
	  #overlay-menu span:before, #overlay-menu span:after {
		height: 4px;
		width: 40px;
		border-radius: 2px;
		background-color: #8FBDDF;
		position: absolute;
		content: "";
		transition: all 0.2s ease-in-out;
	  }
	  #overlay-menu:hover span, #overlay-menu:hover span:before, #overlay-menu:hover span:after {
		background: #F15D5C;
	  }
	  
	  input[type=checkbox] {
		display: none;
	  }
	  input[type=checkbox]:checked ~ #overlay {
		visibility: visible;
	  }
	  input[type=checkbox]:checked ~ #overlay-menu:hover span,
	  input[type=checkbox]:checked ~ #overlay-menu span {
		background: transparent;
	  }
	  input[type=checkbox]:checked ~ #overlay-menu span:before {
		transform: rotate(45deg) translate(5px, 5px);
		opacity: 1;
	  }
	  input[type=checkbox]:checked ~ #overlay-menu span:after {
		transform: rotate(-45deg) translate(5px, -5px);
	  }
	  #overlay {
		height: 100vh;
		width: 100vw;
		background: #F9D376;
		z-index: 2;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		/* This fixes scrolling issue */
		overflow: hidden;
	  }
	  #overlay.active {
		visibility: visible;
	  }
	  #overlay ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 100vh;
		padding-left: 0;
		list-style-type: none;
	  }
	  #overlay ul li {
		padding: .75em;
	  }
	  #overlay ul li a {
		color: #fff;
		text-decoration: none;
		font-size: 1.25em;
	  }
	  #overlay ul li a:hover {
		color: #F15D5C;
	  }

   /*------------ End Mobile Nav ------------*/

   .nav{
	   grid-template-columns: repeat(2, 1fr);
   }

   .nav{
	   list-style-type: none;
   }

	.hero-image {
		grid-column: 1 / span 2;
	}

	.hero {
		height: 404px;

	}

	#shoplogo {
		width: 50%;
		margin-top: 40px;
		margin-left: 110px;
	}

	.drink {
		text-align: center;
		padding: 12em 4em 12em 4em;
		background: #000;
		margin-left: 4rem;
		margin-right: 4rem;
		margin-bottom: 1rem;
		margin-top: 4rem;
	}
	

	.title {
		grid-column: 1 / span 2;
		text-align: center;
		background: #000;
		padding: 3em 0 3em 0;
		margin-left: 6rem;
		margin-right: 6rem;
		margin-top: 3rem;
	}

	.why {
		grid-column: 1 / span 2;
		text-align: center;
		background: #ACDF89;
		padding: 3em 0 3em 0;
		margin-top: 3rem;
		height: 900px;
	}

	.why-text {
		height: 150px;
		margin-top: 2rem;
		margin-left: 6rem;
		margin-right: 6rem;
		padding: 4em;
		background: #000;
	}

	.for-text {
		height: 150px;
		margin-top: 2rem;
		margin-left: 8rem;
		margin-right: 8rem;
		padding: 4em;
		background: #000;
	}

	.why-img {
		height: 200px;
		margin-top: 2rem;
		margin-left: 8rem;
		margin-right: 8rem;
		padding: 4em;
		background: #000;
	}

	.special {
		margin-top: 6em;
	}

	#footer-logo {
		width: 50%;
		margin-top: 20px;
	}

	.footer {
		margin-top: 80px;
		grid-column: 1 / span 2;
		height: 250px;
		background: #ACDF89;
		text-align: center;
	}

	.footer-nav ul {
		list-style-type: none;
		margin-right: 45px;
		margin-top: 30px;
	}

	.footer-nav li {
		display: inline;
		margin: 10px;
	}

	.footer-nav li a {
		text-decoration: none;
		font-weight: bold;
		color: #fff;
	}

	.social-media-icons img {
		display: inline;
		margin:10px;
	}

	#twitter {
		width: 35px;
	}

	#linkedin {
		width: 35px;
	}

	#instagram {
		width: 35px;
	}

	.social-media-icons {
		margin-right: 10px;
		margin-top: 10px;
	}

   @media screen and (min-width: 1024px) {

		.site {
			max-width: none;
		}

		.hidden {
			display: none;
		}

		/*------------ Grid Items ------------*/

		.head, .main > *, .foot {
			display: grid;
			grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
		}

		.one-item {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: 1fr;
		}

		.two-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.three-items {
			display: grid;
			grid-column: 1 / span 4;
			grid-template-columns: repeat(3, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}

		.four-items {
			display: grid;
			grid-column: 2 / span 2;
			grid-template-columns: repeat(4, 1fr);
			justify-content: space-evenly;
			row-gap: 2em;
			column-gap: 2em;
		}
	    .mobile-hidden{
		    display: block;
	    }

		.nav ul {
			margin-top: 45px;
			margin-left: 75px;
		}

		.nav ul li {
			display: inline;
		}

		.nav ul li a {
			text-decoration: none;
			color: #8FBDDF;
			margin: 15px;
			font-weight: bold;
		}

		.nav img {
			float: right;
			margin-top: 35px;
		}

		#acc {
			width: 8%;
			margin-right: 75px;
		}

		#cart {
			width: 9%;
			margin-top: 40px;
			margin-right: 40px;
		}

		.logo {
			width: 80%;
			margin: auto;
		}

		.hero-image {
			grid-column: 1 / span 4;
		}

		.hero {
			height: 852px;
		}

		#shoplogo {
			width: 40%;
			margin-top: 40px;
			margin-left: 275px;
		}

		.drink {
			padding: 12em 8em 12em 8em;
			background: #000;
			margin-bottom: 1rem;
			margin-top: 4rem;
			margin-left: 0;
			margin-right: 0;
		}

		.why {
		    grid-column: 1 / span 4;
			background: #ACDF89;
			margin-top: 3rem;
			height: 700px;
		}

		#whylogo {
			width: 30%;
			margin-top: 40px;
			margin-right: 60px;
		}

		.why-text {
			height: 200px;
			margin-top: 5rem;
			padding: 4em;
			margin-right: 0;
			background: #000;
		}
	
		.title {
			text-align: center;
			background: #000;
			margin-top: 3rem;
		}

		.footer {
			margin-top: 80px;
			grid-column: 1 / span 4;
			height: 250px;
			background: #ACDF89;
			text-align: center;
		}

		#footer-logo {
			width: 15%;
			margin-top: 20px;
		}

		.why-img {
			height: 200px;
			margin-top: 5rem;
			margin-left: 8rem;
			margin-right: 8rem;
			padding: 4em;
			background: #000;
		}


		/*------------  End Grid Items ------------*/
	}
   }